.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.bold {
  font-weight: bold;
}

.primary-text {
  color: #32a7b1 !important;
}

.white-text {
  color: #fff;
}

.mb-20 {
  margin-bottom: 20px;
}

.btn-style-1 {
  background-color: #32a7b1;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-style-2 {
  background-color: #fff;
  color: #32a7b1;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-style-3 {
  background-color: #fff;
  color: #32a7b1;
  border: #32a7b1 1px solid;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}
